/* reset browser styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 font-size: 100%;
 font-weight: normal;
 margin: 0;
 padding: 0;
}
ol { 
  list-style: decimal; 
  margin-left: 1.4em; 
}
ul { 
  list-style:disc; 
  margin-left: 1.4em; 
}
img {
  border: 0;
  margin:0;
}
/* end reset browser styles */


* {
    box-sizing: border-box;
}

body {
	background: #f9f5ef;
	border: 0;
	color: #363636;
	font-family: 'Lato', sans-serif;
	overflow:hidden;
}

h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 2.5em;
	letter-spacing: .05em;
	line-height: 1.2;
	margin-bottom: 20px;
	text-align: center;
}

.home h1 {
	font-size: 19px;
	line-height: 1.3;
	margin-bottom: 30px;
}

.caps {
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.names {
	display: block;
	font-size: 30px;
	margin-bottom: 10px;
}

h2 {
    font-weight: bold;
    margin-bottom: 10px;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #363636;
	border: 0;
}

p {
	font-size: 1.2em;
	letter-spacing: .06em;
	line-height: 1.6;
	margin-bottom: 15px;
}

.home p {
	font-family: "Times New Roman", Times, serif;
}

.l-site-header {
	background-color: #f9f5ef;
	height: 50px;
	left: 5px;
	padding: 20px;
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 1000;
}

.faq p {
    font-size: 1em;
    margin-bottom: 30px;
}

.logo {
	background: url('../images/dupasandridore-logo-SM.png') no-repeat center;
	background-size: contain;
	display: block;
	height: 25px;
	margin-bottom: 20px;
	max-width: 630px;
	position: relative;
	-webkit-transition: width .5s ease-out;
    transition: width .5s ease-out;
	width: 80%;
}

.intro .logo {
	width: 100%;
}

#wrapper {
	border: 5px solid #b99d6b;
	bottom: 0;
	height: 100%;
    left: 0;
	overflow: auto;
	padding: 60px 20px 20px;
	position: absolute;
	right: 0;
	top: 0;
}

@media screen and (min-width: 450px) {
   .logo {
		background: url('../images/dupasandridore-logo.png') no-repeat center;
		background-size: contain;
		height: 118px;
		margin: 0 auto;
		width: 100%;
   }

	.l-site-header {
		background-color: transparent;
		height: auto;
		position: relative;
	}

	#wrapper {
		padding-top: 0;
	}
}

@media screen and (min-width: 450px) and (orientation : landscape) {

	.logo {
		margin: -40px 50px 0 0;
		width: 90%;
	}

}

@media screen and (min-width: 800px) and (orientation : landscape) {

	.logo {
		height: 118px;
		margin: 0 auto;
		width: 100%;
	}

}

.btn-nav-menu {
	cursor: pointer;
	height: 31px;
	position: fixed;
	right: 25px;
	top: 25px;
    -webkit-transition: right .5s ease-out;
    transition: right .5s ease-out;
	width: 50px;
	z-index: 10;
}

.intro .btn-nav-menu {
	right: -50px;
}

.nav-menu {
	background-color: #b99d6b;
	height: 100%;
	padding-top: 75px;
    position: fixed;
    right: -230px;
    top: 0;
    -webkit-transition: right .5s ease-out;
    transition: right .5s ease-out;
    width: 230px;
}

.nav-menu-bg {
	background: rgba(255, 255, 255, 0.5);
	border: 5px solid #b99d6b;
	display: none;
	height: 100%;
	left: 0;
  	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.menu-active .nav-menu {
	-webkit-box-shadow: -15px 0px 33px -12px rgba(0,0,0,0.3);
	-moz-box-shadow: -15px 0px 33px -12px rgba(0,0,0,0.3);
	box-shadow: -15px 0px 33px -12px rgba(0,0,0,0.3);
	right: 0;
	-webkit-transition: right 0.5s;
    transition: right 0.5s;
}

.menu-active .nav-menu-bg {
	display: block;
}

.close-btn {
	background: url('../images/close-icon.png') no-repeat center;
	background-size: 30px 29px;
    cursor: pointer;
    float: right;
    height: 50px;
    position: relative;
    width: 50px;
}

.menu-items {
	list-style-type: none;
	margin: 0;
	text-align: center;
}

.menu-items li {
	clear: both;
	display: block;
}

.menu-items a {
	color: #fff;
	display: block;
	font-weight: normal;
	letter-spacing: 0.15em;
	padding: 15px;
	text-transform: uppercase;
}

.menu-items a:hover {
	background-color: #fff;
	color: #333;
}

.wedding #wrapper {
	background: url('../images/cathedral.jpg') no-repeat center bottom;
	background-size: contain;
}

.e-party #wrapper {
	background: url('../images/6th-floor-loft.jpg') no-repeat center bottom;
	background-size: contain;
}

.bridal #wrapper {
	background: url('../images/bridal.jpg') no-repeat center bottom;
	background-size: contain;
}

.proposal #wrapper {
	background: url('../images/niagara-falls.jpg') no-repeat center bottom;
	background-size: contain;
}

@media screen and (orientation : landscape) {
	.wedding #wrapper,
	.e-party #wrapper,
	.proposal #wrapper,
	.bridal #wrapper {
		background-size: cover;
	}
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    padding: 5px;
}

.bkgd {
	height: 100%;
    width: 100%;
}

.bkgd-1 {
	background: url('../images/street-sign.jpg') no-repeat left bottom;
	background-size: contain;
}

.bkgd-2 {
	background: url('../images/newOrleans-building.jpg') no-repeat left bottom;
	background-size: contain;
	display: none;
}

.accommodations .bkgd-1 {
	background: url('../images/streetcar.jpg') no-repeat left bottom;
	background-size: contain;
}

.accommodations .bkgd-2 {
	background: url('../images/church-floor.jpg') no-repeat left bottom;
	background-size: contain;
	display: none;
}

.registry .bkgd-1 {
	background: url('../images/street-feet.jpg') no-repeat left bottom;
	background-size: contain;
}

.registry .bkgd-2 {
	background: url('../images/newOrleans-building.jpg') no-repeat left bottom;
	background-size: contain;
	display: none;
}

.our-story .bkgd {
	padding: 5px;
	position: fixed;
}

.our-story .bkgd-1 {
	background: url('../images/syracuse.jpg') no-repeat center bottom;
	background-size: contain;
}

.our-story .bkgd-2 {
	background: url('../images/howwemet-train.jpg') no-repeat left bottom;
	background-size: contain;
	display: block;
	opacity: 0;
}

.our-story.next-panel .bkgd-1 {
	opacity: 0;
	-webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}

.our-story.next-panel .bkgd-2 {
	opacity: 1;
	-webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}

.our-story .bkgd-3 {
	background: url('../images/howwemet-streetcar.jpg') no-repeat left bottom;
	background-size: contain;
	display: block;
	opacity: 0;
}

.our-story.last-panel .bkgd-3 {
	opacity: 1;
	-webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
}

@media screen and (orientation : portrait) {
	.bkgd-1 {
		background: url('../images/street-sign-portrait.jpg') no-repeat left bottom;
		background-size: contain;
	}

	.bkgd-2 {
		background: url('../images/newOrleans-building-portrait.jpg') no-repeat left bottom;
		background-size: contain;
	}

	.accommodations .bkgd-1 {
		background: url('../images/streetcar-portrait.jpg') no-repeat left bottom;
		background-size: contain;
	}

	.accommodations .bkgd-2 {
		background: url('../images/church-floor-portrait.jpg') no-repeat left bottom;
		background-size: contain;
	}

	.registry .bkgd-1 {
		background: url('../images/street-feet-portrait.jpg') no-repeat left bottom;
		background-size: contain;
	}

	.registry .bkgd-2 {
		background: url('../images/newOrleans-building-portrait.jpg') no-repeat left bottom;
		background-size: contain;
	}
}

.copy-card {
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    background: #fff;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    margin: 40px auto 0;
    max-width: 400px;
    -webkit-overflow-scrolling: touch;
    padding: 5px;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 450px) and (orientation : landscape) {

	.copy-card.large {
		margin: 0 50px 30px 0;
		width: 90%;
	}

}

@media screen and (min-width: 800px) and (orientation : landscape) {

	.copy-card.large {
		width: 100%;
	}

	.faq .copy-card.large {
		margin: 0 auto 30px;
		width: 100%;
	}

}

@media screen and (min-width: 800px) {
	.l-site-header {
		background-color: transparent;
		height: auto;
		left: auto;
		position: relative;
		right: auto;
		top: auto;
	}

	#wrapper {
		padding: 20px;
	}

	.small {
		margin-top: -40px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.faq .copy-block {
	    padding: 20px 50px;
	}
}

.large {
	max-width: 700px;
}

@media screen and (min-width: 1000px) {
	.copy-card {
		float: right;
  		margin: 0 5% 20px 0px;
  	}

  	.small {
  		margin: -110px 5% 20px 0px;
  	} 
}

.copy-block {
    border: 1px solid #b99d6b;
    padding: 20px;
}

.copy-block ul {
	margin-bottom: 15px;
}

.faq .copy-card {
    margin: 0 auto 30px;
    max-width: 1000px;
    float: none;
    top: auto;
    transform: none;
}

.center {
	text-align: center;
}

.address {
	display: block;
	font-size: 1.2em;
	margin-bottom: 30px;
}

.address a {
	display: block;
}

.address p {
	font-size: 1em;
	margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .accommodations .address {
  	float: left;
  	width: 50%;
  }
}

.hello {
	background: #b99d6b;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    left: 50%;
    letter-spacing: 0.5em;
    padding: 15px 50px 15px 30px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.arrow {
	background: url('../images/arrow.png') no-repeat;
	background-size: contain;
	display: inline-block;
	height: 24px;
	margin-top: -11px;
	position: absolute;
	right: 30px;
	top: 50%;
	width: 15px;
}

.fade-in {
	display: none;
}

.show-save .intro {
	display: none;
}

.save-the-date {
	display: none;
}

.rsvp-form,
.thank-you {
	display: none;
}

.show-form .rsvp-form {
	display: block;
}

.show-thanks .thank-you {
	display: block;
}

input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	border: 1px solid #ccc;
	border-radius: 0;
	color: #363636;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	padding: 8px;
	width: 100%;
}

.mc-field-group {
	margin-bottom: 25px;
}

.mc-field-group ul {
	display: inline-block;
	list-style: none;
	margin-left: 30px;
}

.mc-field-group li {
	display: inline;
	margin-right: 20px;
}

.submit-container {
	text-align: right;
}

input#mc-embedded-subscribe,
a.cta {
	-webkit-appearance: none;
	background-color: #b99d6b;
	border: none;
	color: #ffffff;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
    letter-spacing: .15em;
	margin: 0 auto 10px;
	max-width: 220px;
	padding: 10px 12px;
	text-transform: uppercase;
}

.home a.cta {
	display: block;
}

div#addeventatc1 {
    background-color: #b99d6b !important;
    border: 0 !important;
    border-radius: 0 !important;
    color: #fff !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 1em !important;
    -webkit-font-smoothing: auto !important;
    letter-spacing: .15em !important;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 220px;
}

.indicates-required {
	text-align: right;
	font-size: 14px;
}

.input-group li {
	display: inline;
	margin-right: 20px;
}

input[type="radio"] {
	margin-right: 8px;
}

.nowrap {
	white-space: nowrap;
}

.retailer-section-items {
	margin-bottom: 1em;
}

.retailer-item {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
}

.retailer-item a {
	display: block;
	height: 60px;
	margin: 0 auto;
	width: 100%;
}

.bed-bath-beyond {
	background: url('../images/bed-bath-beyond.jpg') no-repeat center;
	background-size: contain;
}

.target {
	background: url('../images/target.jpg') no-repeat center;
	background-size: contain;
}

.williams-sonoma {
	background: url('../images/williams-sonoma.png') no-repeat center;
	background-size: contain;
}

.wanderable {
	background: url('../images/wanderable-logo.jpg') no-repeat center;
	background-size: contain;
}

.zola {
	background: url('../images/zola.jpg') no-repeat center;
	background-size: contain;
	height: 80px !important;
}

.retailer-item-inner {
	padding: 10px;
}

.retailer-image {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 40%;
	width: 100%;
}

.smaller-font p {
	font-size: 100%;
}

.accommodations h1 {
	font-size: 28px;
}

.accommodations .retailer-item a {
	height: 90px;
}

.hilton {
	background: url('../images/hilton-logo.jpg') no-repeat center;
	background-size: contain;
}

.our-story .second,
.our-story .third {
	display: none;
}
