/* reset browser styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 font-size: 100%;
 font-weight: normal;
 margin: 0;
 padding: 0;
}
ol { 
  list-style: decimal; 
  margin-left: 1.4em; 
}
ul { 
  list-style:disc; 
  margin-left: 1.4em; 
}
img {
  border: 0;
  margin:0;
}
/* end reset browser styles */


* {
    box-sizing: border-box;
}

body {
	border: 0;
	color: #363636;
	font-family: 'Lato', sans-serif;
	overflow:hidden;
}

h1 {
	font-family: 'otama.epregular';
	font-size: 2.5em;
	letter-spacing: .05em;
	line-height: 1.6;
	margin-bottom: 20px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #f33b7e;
	border: 0;
}

p {
	font-size: 1.2em;
	letter-spacing: .2em;
	line-height: 1.6;
	margin-bottom: 15px;
}

#logo {
	display: none;
	margin: 0 auto;
	max-width: 630px;
	position: relative;
	width: 100%;
}

#logo-SM {
	display: block;
	margin: 20px auto;
	position: relative;
	width: 100%;
}

@media screen and (min-width: 450px) {
   #logo {
   	display: block;
   }

   #logo-SM {
   	display: none;
   }
}

.btn-nav-menu {
	background: url('../images/menu-icon.png') no-repeat;
	background-size: contain;
	cursor: pointer;
	float: right;
	margin: 0 0 25px;
	position: relative;
	height: 24px;
	width: 50px;
}

.nav-menu {
	background-color: #b99d6b;
	height: 100%;
	right: -200px;
    position: fixed;
    top: 0;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
    width: 200px;
    z-index: 1000;
}

.nav-menu.active {
	-webkit-box-shadow: -15px 0px 33px -12px rgba(0,0,0,0.3);
	-moz-box-shadow: -15px 0px 33px -12px rgba(0,0,0,0.3);
	box-shadow: -15px 0px 33px -12px rgba(0,0,0,0.3);
	right: 0;
	-webkit-transition: right 0.5s;
    transition: right 0.5s;
}

.close-btn {
	background: url('../images/close-icon.png') no-repeat center;
	background-size: 30px 29px;
    cursor: pointer;
    float: right;
    height: 50px;
    position: relative;
    width: 50px;
}

.menu-items {
	list-style-type: none;
	margin: 0;
}

.menu-items li {
	clear: both;
	display: block;
}

.menu-items a {
	color: #fff;
	display: block;
	letter-spacing: 0.15em;
	padding: 15px;
	text-transform: uppercase;
}

.menu-items a:hover {
	background-color: #fff;
	color: #333;
}

#wrapper {
	background-color: #f9f5ef;
	border: 5px solid #b99d6b;
	bottom: 0;
	height: 100%;
    left: 0;
	overflow: auto;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 0;
}

.wedding #wrapper {
	background: #f9f5ef url(../images/cathedral.jpg) no-repeat center bottom;
	background-size: contain;
}

@media screen and (orientation : landscape) {
	.wedding #wrapper {
		background: #f9f5ef url(../images/cathedral.jpg) no-repeat center bottom;
		background-size: cover;
	}
}

.bkgd {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
    width: 100%;
}

.bkgd-1 {
	background: url(../images/street-sign.jpg) no-repeat left bottom;
	background-size: contain;
}

.bkgd-2 {
	background: url(../images/newOrleans-building.jpg) no-repeat left bottom;
	background-size: contain;
	display: none;
}

@media screen and (orientation : portrait) {
	.bkgd-1 {
		background: url(../images/street-sign-portrait.jpg) no-repeat left bottom;
		background-size: contain;
	}

	.bkgd-2 {
		background: url(../images/newOrleans-building-portrait.jpg) no-repeat left bottom;
		background-size: contain;
	}
}

.copy-card {
    -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    background: #fff;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    margin: 40px auto 0;
    max-width: 400px;
    padding: 5px;
    position: relative;
}

@media screen and (min-width: 800px) {
  .copy-card {
  	margin-top: -40px;
    top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	width: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .copy-card {
  	float: right;
  	margin: -40px 5% 0 0;
  }
}

.copy-block {
    border: 1px solid #b99d6b;
    padding: 20px;
}

.center {
	text-align: center;
}

.address {
	margin-bottom: 15px;
}

.address p {
	margin-bottom: 0;
}

.intro {
	background: #b99d6b;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    left: 50%;
    letter-spacing: 0.5em;
    padding: 15px 30px;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.show-save .intro {
	display: none;
}

.save-the-date {
	display: none;
}

.rsvp-form,
.thank-you {
	display: none;
}

.show-form .rsvp-form {
	display: block;
}

.show-thanks .thank-you {
	display: block;
}

input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	border: 1px solid #ccc;
	border-radius: 0;
	color: #363636;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	padding: 8px;
	width: 100%;
}

.mc-field-group {
	margin-bottom: 25px;
}

.mc-field-group ul {
	display: inline-block;
	list-style: none;
	margin-left: 30px;
}

.mc-field-group li {
	display: inline;
	margin-right: 20px;
}

.submit-container {
	text-align: right;
}

input#mc-embedded-subscribe,
a.cta {
	-webkit-appearance: none;
	background-color: #b99d6b;
	border: none;
	color: #ffffff;
	display: block;
	margin: 0 auto;
	padding: 10px 12px;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: .15em;
}

a.cta {
	display: inline-block;
}

div#addeventatc1 {
    background-color: #b99d6b !important;
    border: 0 !important;
    color: #fff !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 1.1em !important;
    font-weight: 700 !important;
    letter-spacing: .15em !important;
    margin-bottom: 10px;
}

.indicates-required {
	text-align: right;
	font-size: 14px;
}

.input-group li {
	display: inline;
	margin-right: 20px;
}

input[type="radio"] {
	margin-right: 8px;
}

.nowrap {
	white-space: nowrap;
}

.retailer-section-items {
	margin-bottom: 1em;
}

.retailer-item {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
}

.retailer-item a {
	display: block;
	height: 60px;
	margin: 0 auto;
	max-width: 200px;
	width: 100%;
}

.bed-bath-beyond {
	background: url('../images/bed-bath-beyond.png') no-repeat center;
	background-size: contain;
}

.target {
	background: url('../images/target.png') no-repeat center;
	background-size: contain;
}

.williams-sonoma {
	background: url('../images/williams-sonoma.png') no-repeat center;
	background-size: contain;
}

.retailer-item-inner {
	padding: 10px;
}

.retailer-image {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 40%;
	width: 100%;
}
